:root {
	/* COLORS */

	--red: hsl(14, 86%, 42%);
	--green: hsl(159, 69%, 38%);

	--rose-50: hsl(20, 50%, 98%);
	--rose-100: hsl(13, 31%, 94%);
	--rose-300: hsl(14, 25%, 72%);
	--rose-400: hsl(7, 20%, 60%);
	--rose-500: hsl(12, 20%, 44%);
	--rose-900: hsl(14, 65%, 9%);

	/* TYPOGRAPHY */

	--font-family: 'Red Hat Text', sans-serif;
	--normal: 400;
	--bold: 600;
	--bolder: 700;

	/* MEDIA QUERIES */

	--mobile: 375px;
	--desktop: 1440px;

	/* UTILITIES */
	--pill: 999px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family);
	min-height: 100vh;
	background-color: var(--rose-100);
}

h1,
h2,
p,
button {
	color: var(--rose-900);
}

.secondary-text {
	color: var(--rose-500);
}

.accent-text {
	color: (--red);
}
