:root {
	/* COLORS */

	--red: hsl(14, 86%, 42%);
	--green: hsl(159, 69%, 38%);

	--rose-50: hsl(20, 50%, 98%);
	--rose-100: hsl(13, 31%, 94%);
	--rose-300: hsl(14, 25%, 72%);
	--rose-400: hsl(7, 20%, 60%);
	--rose-500: hsl(12, 20%, 44%);
	--rose-900: hsl(14, 65%, 9%);

	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);

	/* TYPOGRAPHY */

	--font-family: 'Red Hat Text', sans-serif;
	--regular: 400;
	--semi-bold: 600;
	--bold: 700;

	/* MEDIA QUERIES */

	--mobile: 375px;
	--desktop: 1440px;

	/* UTILITIES */
	--pill: 999px;
	--btn-clicked-scale: 0.98;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family);
	min-height: 100vh;
	background-color: var(--rose-50);
	color: var(--rose-900);
}

h1,
h2,
p,
button {
	color: var(--rose-900);
}

button {
	font-family: inherit;
}

.heading-big {
	font-size: 2.5rem;
	line-height: 120%;
	letter-spacing: 0;
	font-weight: var(--bold);
}

.heading {
	font-size: 1.5rem;
	line-height: 125%;
	letter-spacing: 0;
	font-weight: var(--bold);
}

.text-bold {
	font-size: 1rem;
	line-height: 150%;
	letter-spacing: 0;
	font-weight: var(--semi-bold);
}

.text-lead {
	font-size: 0.875rem;
	line-height: 150%;
	letter-spacing: 0;
	font-weight: var(--regular);
}

.text-lead-bold {
	font-size: 0.875rem;
	line-height: 150%;
	letter-spacing: 0;
	font-weight: var(--semi-bold);
}
